<div class="form-wrapper">
  <%= simple_form_for @task, url: @path, method: @method do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :task_title %>
      <%= f.input :description %>
      <%= f.input :due_date %>
      <%= f.label :submission, "Upload submission" %>
      <%= f.file_field :submission %>
      <%= f.hidden_field  :project_id, :value => params[:project_id] %>
    </div>
<br>
    <div class="form-actions">
       <%= link_to 'Back', project_tasks_path, class: "btn btn-danger" %>
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
  <% end %>

</div>
