<div class="row project-nav">
  <%= link_to project_path(@project) do %>
    <div class="col-xs-3">
       Profile
    </div>
  <% end %>

  <%= link_to project_tasks_path(@project) do %>
    <div class="col-xs-3 project-active">
       Work Plan
    </div>
  <% end %>

  <%= link_to project_items_path(@project) do %>
    <div class="col-xs-3">
       Financial Plan
    </div>
  <% end %>

  <%= link_to project_progress_path(@project) do %>
    <div class="col-xs-3">
       Progress
    </div>
  <% end %>
</div>

<div class="main-wrapper">
  <p id="notice"><%= notice %></p>

  <div class="index-tasks">
    <h3>Project Work plan
      <% if current_staff.admin? %>
        <%= link_to new_project_task_path(:project_id => params[:project_id]), class: "add-to" do %>
          <span class="glyphicon glyphicon-plus"></span>
        <% end %>
      <% end %>
    </h3>
    <h4 class="project-heading"><%= @project.project_title%></h4><br>


<div class="row">
  <div class="col-md-3 item-info">
    <h4>Tasks remaining:
      <span class="info-remaining"> <%= @project.tasks.where("isFinished = false").count %> </span>
    </h4>
  </div>
  <div class="col-md-3 workplan-info">
    <h4> Tasks finished:
      <span class="info-finished"> <%= @project.tasks.where("isFinished = true").count %> </span>
    </h4>
  </div>
  <div class="col-md-3 workplan-info">
    <h4>Overdue Tasks: <%= @project.get_overdue_tasks %>
    </h4>
  </div>
</div><br>


<!-- TABS -->
    <ul class="nav nav-tabs">
      <li role="presentation" id="timeline-btn" class="active"><a onclick="showTimeline()" href="#">Timeline</a></li>
      <li role="presentation" id="table-btn"><a onclick="showTable()" href="#">Table</a></li>
    </ul><br>


<!-- TABLE -->
    <table class="table workplan-table">
      <thead>
        <tr>
          <th>Task title</th>
          <th>Description</th>
          <th>Due date</th>
          <th>Status</th>
          <% if current_staff.admin? %>
            <th colspan="3" class="text-center"> Options </th>
          <% else %>
            <th class="text-center">
               Finish Deliverable
            </th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @sort.each do |task| %>
            <tr>
              <td><%= task.task_title %></td>
              <td><%= task.description %></td>
              <td><%= task.due_date.strftime('%b' +" " +'%d' +", "+ '%Y') %></td>

                <% if task.isFinished %>
                  <td style="color: green;"> Complete </td>
                <% else %>
                  <td style="color: #d9534f;"> Incomplete </td>
                <% end %>

              <% if current_staff.admin? %>
                <td class="text-center"><%= link_to project_task_path(:id => task.id, :project_id => params[:project_id]) do %>
                  <span class="glyphicon glyphicon-file"></span>
                  <% end %>
                </td>

                <td class="text-center"><%= link_to edit_project_task_path(:id => task.id, :project_id => params[:project_id]) do %>
                  <span class="glyphicon glyphicon-cog"></span>
                  <% end %>
                </td>
                <td class="text-center"><%= link_to project_task_path(:id => task.id, :project_id => params[:project_id]), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span class="glyphicon glyphicon-remove"></span>
                  <% end %>
              <% else %>
                <% if task.isFinished == true %>
                  <td class="text-center"><%= link_to project_task_path(:id => task.id, :project_id => params[:project_id]) do %>
                      <span class="glyphicon glyphicon-ok" style="color: green;"></span>
                  <% end %>
                  </td>
                <% else %>
                  <td class="text-center"><%= link_to edit_project_task_path(:id => task.id, :project_id => params[:project_id]) do %>
                    <span class="glyphicon glyphicon-ok"></span>
                    <% end %>
                  </td>
                <% end %>
              <% end %>


              </td>
            </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>


<!-- TIMELINE VIEW -->
<div class="container timeline-wrapper">
    <div class="page-header">
        <h1 id="timeline">Project Timeline</h1>
    </div>
    <ul class="timeline">
      <% @sort.each_with_index do |task, index| %>
      <% if index.even? %>
      <li>
      <% else %>
      <li class="timeline-inverted">
      <%end%>
      <% if task.isFinished == true %>
        <div class="timeline-badge success"><i class="glyphicon glyphicon-ok-circle"></i></div>
      <% else %>
        <div class="timeline-badge danger"><i class="glyphicon glyphicon-remove-sign"></i></div>
      <% end %>

        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"><%= task.task_title %></h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <%= task.due_date.strftime('%b' +" " +'%d' +", "+ '%Y') %></small></p>
          </div>
          <div class="timeline-body">
            <p><%= task.description %></p>
            <% if current_staff.admin? %>
              <hr>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to 'Task details', project_task_path(:id => task.id, :project_id => params[:project_id]) %></li>
                  <li><%= link_to 'Edit task', edit_project_task_path(:id => task.id, :project_id => params[:project_id]) %></li>
                  <li><%= link_to 'Delete task', project_task_path(:id => task.id, :project_id => params[:project_id]), method: :delete, data: { confirm: 'Are you sure?' } %></li>
                </ul>
              </div>
            <% else %>
              <%= link_to edit_project_task_path(:id => task.id, :project_id => params[:project_id]) do %> <span class="glyphicon glyphicon-edit"></span>
              <% end %>
            <% end %>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
</div>
