<div class="row project-nav">
  <%= link_to project_path(@project) do %>
    <div class="col-xs-3">
       Profile
    </div>
  <% end %>

  <%= link_to project_tasks_path(@project) do %>
    <div class="col-xs-3 project-active">
       Work Plan
    </div>
  <% end %>

  <%= link_to project_items_path(@project) do %>
    <div class="col-xs-3">
       Financial Plan
    </div>
  <% end %>

  <%= link_to project_progress_path(@project) do %>
    <div class="col-xs-3">
       Progress
    </div>
  <% end %>
</div>

<div class="main-wrapper">
  <p id="notice"><%= notice %></p>

  <h3><%= @project.project_title %></h3>
  <h4 class="project-heading">Task: <%= @task.task_title %></h4><br>

  <div class="row task-dates">
    <div class="col-md-2">
      <p><strong>Due date:</strong></p>
      <%= @task.due_date.strftime('%b' +" " +'%d' +", "+ '%Y') %>
    </div>
    <div class="col-md-3">
      <p><strong>Date accomplished:</strong></p>
      <%= @task.date_accomplished %>
    </div>
  </div>


  <p>
    <strong>Description:</strong>
  </p>

  <p class="description-paragraph">
    <%= @task.description %>
  </p>
  <br>


  <%= link_to 'Back', project_tasks_path(:project_id => params[:project_id]), class: "btn btn-danger" %>
</div>
