<p id="notice"><%= notice %></p>

<p>
  <strong>Task title:</strong>
  <%= @task.task_title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>Date accomplished:</strong>
  <%= @task.date_accomplished %>
</p>

<p>
	<strong>Project ID</strong>
	<%= @project.id %>
</p>

<p>
	<strong>Project Title:</strong>
	<%= @project.project_title %>
</p>

<%= link_to 'Edit', edit_project_task_path(:id => @task.id, :project_id => params[:project_id]) %> |
<%= link_to 'Back', project_tasks_path(:project_id => params[:project_id]) %>
