<div class="new-project-form">
  <%= simple_form_for(@project) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs row">

      <div class="row">
        <div class="col-md-6">
          <%= f.association :kpa_cluster, include_blank: false, label_method: :kpa_title  %>
        </div>
        <div class="col-md-6">
          <%= f.input :project_director %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <%= f.input :project_title %>
        </div>
        <div class="col-md-6">
          <%= f.input :project_acronym %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
            <%= f.input :account_number %>
        </div>
        <div class="col-md-6">
            <%= f.input :funding_agency %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <%= f.input :total_budget %>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
                <%= f.input :start_date %>
            </div>
            <div class="col-md-6">
                <%= f.input :end_date %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <%= f.label :summary_filename, label: 'Upload Project Summary' %>
          <%= f.file_field :summary_filename, label: 'Upload Project Summary'%>
        </div>
        <div class="col-md-6">
          <%= f.label :brief_filename, label: 'Upload Project Brief' %>
          <%= f.file_field :brief_filename, label: 'Upload Project Brief'%>
        </div>
      </div>

    </div>
    <br>
    <div class="form-actions row">
      <%= link_to 'Back', projects_path, class: "btn btn-danger" %>
      <%= f.button :submit, class: "btn-primary" %>
    </div>
  <% end %>
</div>
