<div class="main-wrapper">
  <input type="text" id="notice" name="notice" value="<%= notice %>" hidden>

  <% if current_staff.admin? %>
  <h1 class="project-heading">All Projects</h1><br>

  <div class="row">
    <% @projects.each do |project| %>
    <%= link_to project, class: "project-link" do %>
      <div class="col-md-6 box-container">
        <div class="project-box">
          <div class="row">
            <div class="col-xs-3">
              <div class="project-icon-wrapper">
                <h1 class="box-icon"><span class="glyphicon glyphicon-th-large"></span></h1>
              </div>
            </div>
            <div class="col-xs-9">
              <h4 class="project-title"><%= link_to project.project_title, project %></h4>
              <% if project.isOngoing %>
                <% if project.is_late %>
                  <h6>Status: <span style="color: #d9534f;">Late *</span></h6>
                <% else %>
                  <h6>Status: <span style="color: #d9534f;">Ongoing</span></h6>
                <% end %>
              <% else %>
                <h6>Status: <span style="color: green;">Finished</span> </h6>
              <% end %>
              <h6>Last updated: <%= project.updated_at.strftime('%b' +" " +'%d' +", "+ '%Y'  " / "+ '' + " %I:%M " + '%p') %>
            </div>
          </div>

        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <% else %>

  <h1 class="project-heading">Project assignments</h1><br>

  <div class="row">
    <% @staff.projects.each do |project| %>
    <%= link_to project, class: "project-link" do %>
      <div class="col-md-6 box-container">
        <div class="project-box">
          <div class="row">
            <div class="col-xs-3">
              <div class="project-icon-wrapper">
                <h1 class="box-icon"><span class="glyphicon glyphicon-th-large"></span></h1>
              </div>
            </div>
            <div class="col-xs-9">
              <h4 class="project-title"><%= link_to project.project_title, project %></h4>
              <% if project.isOngoing %>
                <h6>Status: <span style="color: #d9534f;">Ongoing</span></h6>
              <% else %>
                <h6>Status: <span style="color: green;">Finished</span> </h6>
              <% end %>
              <h6>Last updated: <%= project.updated_at.strftime('%b' +" " +'%d' +", "+ '%Y') %> </h6>
            </div>
          </div>

        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <% end %>

</div>
