<div class="row project-nav">
  <%= link_to project_path(@project) do %>
    <div class="col-xs-3 project-active">
       Profile
    </div>
  <% end %>

  <%= link_to project_tasks_path(@project) do %>
    <div class="col-xs-3">
       Work Plan
    </div>
  <% end %>

  <%= link_to project_items_path(@project) do %>
    <div class="col-xs-3">
       Financial Plan
    </div>
  <% end %>

  <%= link_to project_progress_path(@project) do %>
    <div class="col-xs-3">
       Progress
    </div>
  <% end %>
</div>



<div class="main-wrapper">

  <input type="text" id="notice" name="notice" value="<%= notice %>" hidden>
  <h3>Project Profile
    <% if current_staff.admin? == true %>
     <% if @project.isOngoing %>
        <%= link_to finish_project_path, method: :patch, data: { confirm: "Are you sure you want to mark #{@project} as Complete?"}, class: "fin-proj-btn" do %>
          <span class="glyphicon glyphicon-ok"></span>
        <% end %>
      <!-- <%= link_to project_path(@project.id), class: "delete-proj", method: :delete, data: { confirm: "Are you sure you want to delete #{@project} ?"} do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %> -->
      <% end %>

    <% end %>
  </h3>
  <h4 class="project-heading"> <%= @project.project_title %></h4><br>


  <table class="table table-bordered project-profile-table">
    <tr>
      <th class="table-heading"> KPA Cluster </th>
      <td > <%= @project.kpa_cluster %> </td>
    </tr>

    <tr>
      <th class="table-heading"> Start Date </th>
      <td> <%= @project.start_date.strftime('%b' +" " +'%d' +", "+ '%Y') %> </td>
    </tr>

    <tr>
      <th class="table-heading"> End Date </th>
      <td> <%= @project.end_date.strftime('%b' +" " +'%d' +", "+ '%Y') %> </td>
    </tr>

    <tr>
      <th class="table-heading"> Project Director </th>
      <td> <%= @project.project_director %> </td>
    </tr>
  </table>

  <% if @project.get_project_summary  != "" %>
    <%= link_to "Download Project Summary", @project.project_summary_filename_url, class: "btn download-btn" %>
  <% end %>

  <% if @project.get_project_brief != "" %>
    <%= link_to "Download Project Brief", @project.project_brief_filename_url, class: "btn download-btn" %>
  <% end %>

<% if current_staff.admin? && @project.staffs.count != 0%>
  <div class="row staff-row">
    <div class="row heading-row">
      <div class="col-md-6 project-no-padding">
        <h4> Project staff:</h4>
      </div>
      <div class="col-md-6 text-right">
        <%= link_to edit_project_path, class: "add-projstaff-icon" do %>
          <span class="glyphicon glyphicon-plus "></span>
        <% end %>
      </div>

    </div>

    <div class="col-md-12 project-staff">

      <% @project.staffs.all.sort_by(&:contract_expiration_date).each do |staff| %>
      <div class="row">
        <div class="col-md-4">
          <h5> <%= staff.to_s %> </h5>
        </div>

        <div class="col-md-4">
          <h6>Contract expiration: <%= staff.contract_expiration_date.strftime('%b' +" " +'%d' +", "+ '%Y') %></h6>
        </div>

        <div class="col-md-4 text-center">
          <% if staff.contract_days_left >= 0 %>
            <h6>Expires in: <%= staff.contract_days_left %> Days</h6>
          <% else %>
            <h6 style="color: #d9534f;">Expired</h6>
          <% end %>
        </div>
      </div>
      <% end %>

    </div>
  </div>
<% end %>

</div>
