<p id="notice"><%= notice %></p>


<table class="table table-bordered project-nav">
  <tr>
    <td class="project-active"><a href="#"> Profile <a></td>
    <td> <%= link_to 'Work Plan', project_tasks_path(@project) %> </td>
    <td> <%= link_to 'Expenditure', project_items_path(@project) %> </td>
    <td> Pogress </td>
    <td> Options </td>
  </tr>
</table>


<h1 class="hey">Project Profile</h1>


<h2> <%= @project.project_title %> </h2>

<!-- <p>
  <strong>Project acronym:</strong>
  <%= @project.project_acronym %>
</p> -->

<table class="table table-bordered project-profile-table">
  <tr>
    <th class="table-heading"> KPA Cluster </th>
    <td > <%= @project.kpa_cluster %> </td>
  </tr>

  <tr>
    <th class="table-heading"> Start Date </th>
    <td> <%= @project.start_date %> </td>
  </tr>

  <tr>
    <th class="table-heading"> End Date </th>
    <td> <%= @project.end_date %> </td>
  </tr>

  <tr>
    <th class="table-heading"> Project Director </th>
    <td> <%= @project.project_director %> </td>
  </tr>
</table>


<p>
  <strong>Project director:</strong>
  <%= @project.project_director %>
</p>

<p>
  <strong>Funding agency:</strong>
  <%= @project.funding_agency %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>

<p>
  <strong>Total budget:</strong>
  <%= @project.total_budget %>
</p>

<p>
  <strong>Total amount spent:</strong>
  <%= @project.total_amount_spent %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @project.account_number %>
</p>

<p>
  <strong>Project Summary:</strong>
  <%= link_to "Download Project Summary", @project.summary_filename_url %>
</p>

<p>
  <strong>Project Brief:</strong>
  <%= link_to "Download Project Brief", @project.brief_filename_url %>
</p>

<% @project.staffs.each do |staff| %>
<p>
  <%= staff.first_name %>
</p>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back to Home', projects_path %>
<%= link_to 'Edit Work Plan',  new_project_task_path(:project_id => @project.id)%>
<%= link_to 'Add item',  new_project_item_path(:project_id => @project.id)%>
