<div class="row project-nav">
  <%= link_to project_path(@project) do %>
    <div class="col-xs-3 project-active">
       Profile
    </div>
  <% end %>

  <%= link_to project_tasks_path(@project) do %>
    <div class="col-xs-3">
       Work Plan
    </div>
  <% end %>

  <%= link_to project_items_path(@project) do %>
    <div class="col-xs-3">
       Financial Plan
    </div>
  <% end %>

  <%= link_to project_progress_path(@project) do %>
    <div class="col-xs-3">
       Progress
    </div>
  <% end %>
</div>



<div class="main-wrapper">

  <p id="notice"><%= notice %></p>
  <h3>Project Profile</h3>
  <h4 class="project-heading"> <%= @project.project_title %> </h4><br>


  <table class="table table-bordered project-profile-table">
    <tr>
      <th class="table-heading"> KPA Cluster </th>
      <td > <%= @project.kpa_cluster %> </td>
    </tr>

    <tr>
      <th class="table-heading"> Start Date </th>
      <td> <%= @project.start_date.strftime('%b' +" " +'%d' +", "+ '%Y') %> </td>
    </tr>

    <tr>
      <th class="table-heading"> End Date </th>
      <td> <%= @project.end_date.strftime('%b' +" " +'%d' +", "+ '%Y') %> </td>
    </tr>

    <tr>
      <th class="table-heading"> Project Director </th>
      <td> <%= @project.project_director %> </td>
    </tr>
  </table>


  <%= link_to "Download Project Summary", @project.project_summary_filename_url, class: "btn download-btn" %>


  <%= link_to "Download Project Brief", @project.project_brief_filename_url, class: "btn download-btn" %>

<% if current_staff.admin? %>
  <div class="row staff-row">
    <h4> Project staff:</h4>
    <div class="col-md-12 project-staff">
      <% @project.staffs.each do |staff| %>
      <div class="row">
        <div class="col-md-6">
          <h5> <%= staff.to_s %> </h5>
        </div>

        <div class="col-md-6">
          <h6>Contract expiration: <%= staff.contract_expiration_date.strftime('%b' +" " +'%d' +", "+ '%Y') %></h6>
        </div>
      </div>

      <% end %>
    </div>
  </div>
<% end %>

</div>
