<p id="notice"><%= notice %></p>

<h1 class="hey">Project Profile</h1>


<h2> <%= @project.project_title %> </h2>

<!-- <p>
  <strong>Project acronym:</strong>
  <%= @project.project_acronym %>
</p> -->

<table class="table table-bordered project-profile-table">
  <tr>
    <th class="table-heading"> KPA Cluster </th>
    <td > <%= @project.kpa_cluster %> </td>
  </tr>

  <tr>
    <th class="table-heading"> Start Date </th>
    <td> <%= @project.start_date %> </td>
  </tr>

  <tr>
    <th class="table-heading"> End Date </th>
    <td> <%= @project.end_date %> </td>
  </tr>

  <tr>
    <th class="table-heading"> Project Director </th>
    <td> <%= @project.project_director %> </td>
  </tr>
</table>


<p>
  <strong>Project director:</strong>
  <%= @project.project_director %>
</p>

<p>
  <strong>Funding agency:</strong>
  <%= @project.funding_agency %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>

<p>
  <strong>Total budget:</strong>
  <%= @project.total_budget %>
</p>

<p>
  <strong>Total amount spent:</strong>
  <%= @project.total_amount_spent %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @project.account_number %>
</p>

<% @project.staffs.each do |staff| %>
  <%= staff.first_name %>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back to Home', projects_path %>
<%= link_to 'Edit Work Plan',  new_project_task_path(@project)%>