<%= simple_form_for @item, url: project_items_path(@project), method: :post do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :item_title %>
      </div>
      <div class="col-md-6">
        <%= f.input :budget %>
      </div>
    </div>

    <%= f.hidden_field  :project_id, :value => params[:project_id] %>
    <!-- <%= f.input :amount_spent %>
    <%= f.input :balance_left %>
    <%= f.input :percentage_spent %>
    <%= f.input :comments %> -->
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
