<div class="row project-nav">
  <%= link_to project_path(@project) do %>
    <div class="col-xs-3">
       Profile
    </div>
  <% end %>

  <%= link_to project_tasks_path(@project) do %>
    <div class="col-xs-3">
       Work Plan
    </div>
  <% end %>

  <%= link_to project_items_path(@project) do %>
    <div class="col-xs-3 project-active">
       Financial Plan
    </div>
  <% end %>

  <%= link_to project_progress_path(@project) do %>
    <div class="col-xs-3">
       Progress
    </div>
  <% end %>
</div>



<div class="main-wrapper">
  <p id="notice"><%= notice %></p>

  <div class="index-items">
    <h3>Project Financial Plan
      <% if current_staff.admin? == true %>
        <%= link_to new_project_item_path(:project_id => params[:project_id]), class: "add-to" do %>
        <span class="glyphicon glyphicon-plus"></span>
        <% end %>
      <% end %>
    </h3>
    <h4 class="project-heading"><%= @project.project_title%></h4><br>
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Approved Budget</th>
          <th>Amount spent</th>
          <% if current_staff.admin? %>
            <th colspan="3" class="text-center"> Options</th>
          <% else %>
            <th class="text-center">
              View Records
            </th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @project.items.each do |item| %>
          <tr>
            <td><%= item.item_title %></td>
            <td class="text-right"><%= item.budget %></td>
            <td class="text-right"><%= item.amount_spent %></td>
            <td class="text-center"><%= link_to project_item_path(:id => item.id, :project_id => params[:project_id]) do %>
              <span class="glyphicon glyphicon-file"></span>
              <% end %>
            </td>
            <% if current_staff.admin? %>
            <td class="text-center"><%= link_to edit_project_item_path(:id => item.id, :project_id => params[:project_id]) do %>
              <span class="glyphicon glyphicon-cog"></span>
              <% end %>
            </td>
            <td class="text-center"><%= link_to project_item_path(:id => item.id, :project_id => params[:project_id]), method: :delete, data: { confirm: "Are you sure you want to delete #{item.item_title} ?" } do %>
              <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
