<p id="notice"><%= notice %></p>

<p>
  <strong>Item title:</strong>
  <%= @item.item_title %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @item.budget %>
</p>

<p>
  <strong>Amount spent:</strong>
  <%= @item.amount_spent %>
</p>

<p>
  <strong>Balance left:</strong>
  <%= @item.balance_left %>
</p>

<p>
  <strong>Percentage spent:</strong>
  <%= @item.percentage_spent %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @item.comments %>
</p>

<%= link_to 'Edit', edit_project_item_path(:id => @item.id, :project_id => params[:project_id]) %> |
<%= link_to 'Back', project_items_path(:project_id => params[:project_id]) %>
