<div class="row project-nav">
  <%= link_to project_path(@project) do %>
    <div class="col-xs-3">
       Profile
    </div>
  <% end %>

  <%= link_to project_tasks_path(@project) do %>
    <div class="col-xs-3">
       Work Plan
    </div>
  <% end %>

  <%= link_to project_items_path(@project) do %>
    <div class="col-xs-3 project-active">
       Financial Plan
    </div>
  <% end %>

  <%= link_to project_progress_path(@project) do %>
    <div class="col-xs-3">
       Progress
    </div>
  <% end %>
</div>




<div class="main-wrapper">
  <input type="text" id="notice" name="notice" value="<%= notice %>" hidden>

  <h3 class=""><%= @project%>
    <%= link_to new_project_item_record_path(@project.id, @item.id), class: "add-to" do %>
      <span class="glyphicon glyphicon-plus"></span>
    <% end %>
  </h3>
  <h4 class="project-heading">Item: <%= @item.item_title %></h4><br>


  <div class="row item-info-row">
    <div class="col-md-4">
      <h4>Budget:
        <span class=""> <%= number_with_delimiter(@item.budget, :delimiter => ",") %> </span>
      </h4>
    </div>
    <div class="col-md-4">
      <h4> Amount spent:
        <span class=""> <%= number_with_delimiter(@item.amount_spent, :delimiter => ",") %> </span>
      </h4>
    </div>
    <div class="col-md-4">
      <h4> Balance left:
        <% if @item.amount_spent > @item.budget %>
          <span style="color: #e53935;"> <%= number_with_delimiter(@item.balance_left, :delimiter => ",") %> </span>
        <% else %>
          <span> <%= number_with_delimiter(@item.balance_left, :delimiter => ",") %> </span>
        <% end %>
      </h4>
    </div>
  </div><br>

  <p>
    <strong>Percentage spent:</strong>
  </p>
  <% if @item.amount_spent > @item.budget %>
  <div class="progress">
    <div class="progress-bar progress-bar-striped active progress-percentage-spent overspending-progress" role="progressbar"
    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
      Overspending
    </div>
  </div>
  <% else %>
  <div class="progress">
    <div class="progress-bar progress-bar-striped active progress-percentage-spent" role="progressbar"
    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= @item.percentage_spent %>%;">
      <%= @item.percentage_spent %> %
    </div>
  </div>
  <% end %>
<br>



  <table class="table">
    <thead class="show-item-table">
      <th class="text-right">Amount Spent</th>
      <th class="text-center">Date</th>
      <th class="text-center">Supporting Document</th>
    </thead>
      <tbody>
        <%@item.records.each do |record| %>
        <td class="text-right"> <%= record.expenditure %> </td>
        <td class="text-center"><%= record.created_at.strftime('%b' +" " +'%d' +", "+ '%Y') %> </td>
        <td class="text-center"> <%= link_to record.document_url do %><span class="glyphicon glyphicon-file"></span> <% end %> </td>
      </tbody>
        <% end %>
    </table>

    </p>

</div>
