<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= image_tag("ASOG-PMS logo 1.png", :alt => "logo", :class => "logo") %></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <% if staff_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <% if current_staff.admin? %>
        <li>
          <div class="dropdown" id="user-menu">
            <div class="dropdown-toggle nav-notif" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Notifications
              <span class="badge notif-count">
                <% count = 0 %>
                <% current_staff.mailbox.notifications.each do |notification| %>
                  <% if notification.is_read?(current_staff) == false %>
                    <% count = count + 1 %>
                  <% end %>
                <% end %>
                <%= count %>
              </span>
            </div>

              <ul class="dropdown-menu bullet pull-right scrollable-menu notification-drop" aria-labelledby="dropdownMenu1">

                <% if current_staff.mailbox.notifications.count == 0 %>
                  <li class="dropdown-item"> <p class="no-notifs"> You have no notifications at the moment. </p> </li>
                <% else %>
                  <li class="dropdown-item all-notifs"> <p><strong><%= link_to "View All Notifications",pages_notifications_path, class: "all-notifs-link" %></strong></p></li>
                  <% current_staff.mailbox.notifications.first(15).each do |notification| %>
                  <% @project = Project.find(notification.notification_code) %>
                    <%= link_to project_read_path(notification) do %>
                    <% if notification.is_read?(current_staff) %>
                    <li class="dropdown-item">
                    <% else %>
                    <li class="dropdown-item unread">
                    <% end %>
                      <p><strong>Project: <%= notification.subject %></strong></p>
                      <%= notification.body %>
                      <p class="notif-time"> <%= notification.created_at.strftime('%b' +" " +'%d' +", "+ '%Y'  " / "+ '' + " %I:%M " + '%p') %></p>
                    </li>

                    <% end %>

                  <% end %>

                <% end %>

              </ul>
          </div>
        </li>
        <% end %>

      <% if current_staff.admin == false  %>
        <li>
          <%= link_to "Home", root_url, class: "nav-home" %>
        </li>
      <% end %>

        <li id="user-icon">
          <div class="dropdown" id="user-menu">
            <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <%= image_tag("user icon.png", :alt => "user-icon", :class => "user-icon") %>
            </div>

              <ul class="dropdown-menu bullet pull-right" aria-labelledby="dropdownMenu1">
                <li class="dropdown-item"><strong>Signed in as:</strong></li>
                <li class="dropdown-item"><%= current_staff.first_name %> <%= current_staff.last_name %> </li>
                <li class="dropdown-item"> <%= link_to "Log Out", destroy_staff_session_path, method: :delete%></li>
              </ul>

          </div></li>
      </ul>
      <% end %>
    </div>
  </div>
</nav>
