<!DOCTYPE html>
<html>
<head>
  <title>ASOGPMS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Start of Nav-bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= image_tag("ASOG-PMS logo 1.png", :alt => "logo", :class => "logo") %></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">Notifications</a></li>
            <li id="user-icon">
              <div class="dropdown" id="user-menu">
                <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <%= image_tag("user icon.png", :alt => "user-icon", :class => "user-icon") %>
                </div>
                <ul class="dropdown-menu bullet pull-right" aria-labelledby="dropdownMenu1">
                  <li> <a href="#">Something</a></li>
                </ul>
              </div></li>
          </ul>
        </div>
      </div>
    </nav>
<!-- End of Nav-bar -->

    <div class="container-fluid body">
      <div class="row">

<% if staff_signed_in? %>
<!-- Start of Side-bar -->
        <div class="col-sm-3 col-md-2 sidebar">
          <form id="search-bar">
            <div class="input-group">
            	<input type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon1">
              <span class="input-group-btn" id="basic-addon1">
                <button class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-search">
                  </span>
                </button>
              </span>
              </div>
          </form>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><%= link_to 'Create new project', new_project_path %></li>
            <li></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
<!-- End of Side-bar -->

<!-- Start of Main body -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        	<%= yield %>
        </div>
      </div>

<% else %>
  <div class="col-sm-12  col-md-12  main">
    <%= yield %>
  </div>
<% end %>


<!-- End of Main body -->
    </div>

</body>
</html>
